body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    color: #c1c1c1;
}
.textcontainer{
    width: 350px;
}
h1 {
    font-size: 58px;
}
h2 {
    font-size: 48px;
    color: #666666;
}
p {
    color: #555555;
    margin: 8px 0;
}
a {
    color: #aaaaaa;
}
.uhoh {
    padding-bottom: 16px;
}
.uhoh h1, h2{
    margin: -8px 0;
}
em {
    color: #7c5454;
    font-style: italic;
}